uproot==4.3.7
awkward==1.10.1
numpy==1.23.4
pandas==1.5.1
tables==3.8.0
matplotlib==3.6.3
rich==12.6.0
tabulate==0.9.0
xgboost==1.6.2
ipykernel==6.16.1
pathos==0.3.0
particle==0.22.0
Jinja2==3.1.2
pyhf==0.7.4
iminuit==2.24.0
statsmodels==0.14.0